.hero-home
  background: $black center / cover no-repeat
  color: $white
  height: 100vh
  
  @media (min-width: 992px)
    height: 840px

  &__slider
    position: relative
    top: 100px

    @media (min-width: 768px)
      top: 50%
      transform: translateY(-35%)

    &-content
      padding-top: 20px
      @media (min-width: 768px)
        padding-top: 80px
      
    h2
      color: $white
      @include fontSize(36)
      font-family: 'Quicksand', sans-serif
      margin-bottom: 12px

    p
      color: $white
      @include fontSize(14)
      @extend %font-regular
      line-height: 1.2em
      max-width: 510px
      margin-bottom: 25px
      margin-left: auto
      margin-right: auto

      @media (min-width: 768px)
        margin-left: 0

    &-item
      .item-image
        max-width: 50%

        @media (min-width: 768px)
          max-width: 100%
