.navbar
  position: absolute
  width: 100%
  border-bottom: 1px solid $brand-blue
  z-index: 99
  @media (min-width: 992px)
    height: $navbar-height

  &-dark
    background-color: rgba(#000, 0.41)

  .navbar-brand
    img 
      max-width: 160px

  .navbar-nav
    .nav-item
      &:hover,
      &.active,
      &:active
        .nav-link
          background: $brand-blue
          color: $white   

      .nav-link
        transition: 0.4s
        display: flex
        align-items: center
        @include fontSize(12)
        color: $brand-blue
        text-transform: uppercase

        @media (min-width: 992px)
          @include fontSize(14)
          height: 143px
          padding: 0 24px
