{% extends "base.twig" %}

{% block content %}
    <section class="hero-home" style="background-image: url('{{ theme.link }}/src/images/hero-moto.jpg')">
        <div class="container h-100"></div>
    </section>

    <section class="features">
        <div class="container wrapper">
            <div class="section-header">
                <h2>Features</h2>
                <h4>Take our best features</h4>
            </div>

            <div class="features__items row">
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.051472913157168290.20384764058794969xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.81894314044402860.7963103724719975xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.74599893019683660.5854692648638697xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.1458630885324550.014333885715907435xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.124953405797176840.49932732111074296xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.458740567258930.2860557522836089xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us">
        <div class="container wrapper">
            <div class="section-header">
                <h2>About Us</h2>
                <h4>Meet our team</h4>
            </div>

            <div class="features__items row">
                <div class="features__item col-lg-4">
                    <img src="/images/feature_01.png?7bbd49b54e47d42f2f69bead4d9f5d96" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.52393421316742180.724701158996482xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.94629038146445030.8087021247561232xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.75962996576735460.12602453287292126xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.27270759125643720.5220253156526806xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
                <div class="features__item col-lg-4">
                    <img src="xxxHTMLLINKxxx0.173814673201566630.4893724088795359xxx" alt="">
                    <h3>Amazing Ideas</h3>
                    <p>Sed sollicitudin ullamcorper diam, sed aliquam orci volutpat ut. Sed pellentesque ullamcorper eros ut rhoncus. Cras blandit commodo lorem et imperdiet. Aenean risus nulla, interdum at pretium sit amet, dictum ut justo. Cras vehicula ultrices tortor, quis iaculis purus ultricies ut. Mauris sed justo nec ligula dapibus cursus.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
